*.pyc
*.key
*.png
*.jpg
*.min.css
*.eot
*.svg
*.ttf
*.woff
*.woff2
**/__pycache__
**/node_modules
**/package-lock.json
**/static/js
**/static/css/fonts
**/static/img
**/static/dist
**/templates/lib
**/client/src/lib
**/static/css/lib
.DS_Store
**/nocommit
